
.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('./assets/loginimage.jpg') no-repeat center center/cover;
  font-family: 'Poppins', sans-serif;
}


.login-card {
  width: 360px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(18px);
  border-radius: 20px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.3);
  text-align: center;
}


.login-title {
  color: rgb(199, 6, 6);
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 5px;
}

.login-subtitle {
  color: rgb(176, 48, 48);
  font-size: 15px;
  margin-bottom: 20px;
}


.login-card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.85);
  box-sizing: border-box;
  height: 45px;
}

.login-input:focus {
  box-shadow: 0 0 5px rgba(123, 104, 238, 0.7);
}


.login-btn {
  width: 100%;
  padding: 12px;
  background: linear-gradient(45deg, #c13405, #e23202);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  transform: scale(1.05);
  background: linear-gradient(45deg, #5a4ccc, #6b5de0);
}

.forgot-text {
  margin-top: 15px;
  color: rgb(216, 68, 68);
  font-size: 14px;
}

.link {
  color: #6f78d8;
  font-weight: bold;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}